<?xml version="1.0"?>
<launch>
    <arg name="teleop_speed" default="1.5" />
    <arg name="teleop_turn" default="1.5" />

    <include file="$(find joy)/launch/joy.launch.xml" >
        <remap from="joy" to="act_base/joy" />
    </include>

    <node pkg="act_drive" name="act_joy_drive" type="act_joy_drive" >
        <param name="drive_scale" value="$(arg teleop_speed)" />
        <param name="turn_scale" value="$(arg teleop_turn)" />
    </node>

</launch>
