<?xml version="1.0"?>
<launch>
  <arg name="teleop_speed" default="1.5" />
  <arg name="teleop_turn" default="1.5" />


  <node pkg="act_drive" name="act_twist_keyboard" type="act_twist_keyboard.py" output="screen">
    <param name="speed" value="$(arg teleop_speed)" />
    <param name="turn" value="$(arg teleop_turn)" />
  </node>

  <node pkg="act_drive" name="twist_to_drive" type="twist_to_drive" />

</launch>
